// Colours

$red: #D12A2E;
$dark-red: #B3272D;
$black: #545454;
$grey: #BCBCBC;
$cream: #FDF1D6;
$green: #648D3E;

// Font size

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
/* usage:@include font-size(2); */

// Sizes

$tab: 48em;
$tab-wide: 55em;
$desk: 64em;
$desk-xl: 140em;

// Mixins

@mixin transition(){
    transition: all ease 0.2s;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
    clear: both;
    }
}

@font-face {
  font-family: 'gbk';
  src:  url('../asset/font1.woff') format('woff');
}

@font-face {
  font-family: 'gblk';
  src:  url('../asset/font2.woff') format('woff');
}

// Core css

html{
	margin: 0;
}

body{
	position: relative;
	width: 100%;
	margin: auto;
	color: $black;
	//max-width: 1400px;
  	font-family: 'gblk';
  	@include font-size(18px);
  	overflow-x: hidden;
}

h1{
	margin-top: 0;
	@include font-size(37px);
	color: $red;
	text-transform: uppercase;
	@media screen and (min-width: $tab){
	@include font-size(40px);
	}
	@media screen and (min-width: $desk){
	@include font-size(49px);
	}
}

h2{
	margin-top: 0;
	@include font-size(30px);
	color: $black;
	text-transform: uppercase;
}

h3{
	margin-top: 0;
	@include font-size(26px);
	text-transform: uppercase;
	color: $black;
}
h4{
	margin-top: 0;
	@include font-size(22px);
	text-transform: uppercase;
	color: $black;
}

p{
	margin-top:0;
	font-family: 'gbk';
	color:#545454;
}
p.regular-font{
	font-family: 'gbk'!important;
}

a{
	text-decoration: none;
	color: $red;
}
ul{
	li{	
		color:#545454
	}
}
a{
	img{
		border:0;
	}
}

.button{
	background: $red;
	color: white;
	display: inline-block;
	width: auto;
	border-radius: 3em;
	padding: 0.8em 2.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,0.28);
	@include font-size(16px);
	@include transition();
	&:hover{
		background: $dark-red;
	}
}

.white{
	background: white;
	position: relative;
}


img.white-top{
	display: none;
	@media screen and (min-width: $desk){
		display: block;
		position: absolute;
		left: 0;
		bottom:109%;
		width: 100%;			
	}
}

header{
	width: 100%;
	text-align: center;
	@media screen and (min-width: $tab){
		position: relative;
		padding: 0;
	}
	.mob-nav{
		content:'Menu';
		display: block;
		width: 100px;
		position:absolute;
		right: 20px;
		top: 28px;
		color: $red;
		text-transform: uppercase;
		background:url(/themes/custom/anchor/images/icon-lines.svg) no-repeat right top;
		padding-right: 0.75em;
		cursor: pointer;
		&.active{
			background:url(/themes/custom/anchor/images/icon-close.svg) no-repeat right top;
		}
	}
	.logo{
		width: 100px;
		display: block;
		margin: 0 auto;
		padding: 0.5em;
		img{
			width: 100%;
			height: auto;
		}
		@media screen and (min-width: $tab){
			width: 120px;
			padding: 0;
			position: absolute;
			left: 50%;
			margin-left: -60px;
			z-index: 11;
			top:35%;			
		}
		@media screen and (min-width: $desk){
			width: 160px;
			margin-left: -80px;
		}
	}
	.header-wrap{
		width: 100%;
		height: 100%;
		background: $red;
		position: absolute;
		z-index: 10000;
		display: none;
		@media screen and (min-width: $tab){
			position: relative;
			display: block !important;
			background: white;
			z-index: 1;
		}
		&.active{
			display: block;
			height: 100%;
		}
	}
	.logo-bg{
		display: none;
		@media screen and (min-width: $tab){
			display: block;
			position: absolute;
    		left: 50%;
    		background: white;
    		border-radius: 100px;
    		width: 189px;
    		height: 200px;
    		top: -172%;
    		margin-left: -95px;
			z-index: 10;			
		}
		@media screen and (min-width: $desk){
    		width: 219px;
    		height: 200px;
    		top: -98%;
    		margin-left: -111px;
		}
	}
	nav{
		@media screen and (min-width: $tab){
			margin-right: 80px;
		}
		@media screen and (min-width: $desk){
			margin-right: 120px;
		}
		@include clearfix();
		ul{
			margin: 1.5em 0 0 0;
			padding: 0;
			@media screen and (min-width: $tab){
				margin-top: 0;
			}
			li{
				display: block;
				@media screen and (min-width: $tab){
					float: left;					
				}
				a{	
					padding:0.8em;	
					display: block;
					text-transform: uppercase;
  					@include transition();
  					@include font-size(26px);
  					color: white;
					@media screen and (min-width: $tab){
						color: $red;
  						@include font-size(12px);
						padding: 1.9em 1.5em;	
					}
					@media screen and (min-width: $desk){
  						@include font-size(15px);
					}
				}
				a:hover{
					color:$grey;
				}
			}
			li.nav-home{
				@media screen and (min-width: $tab){
					display: none;
				}
				@media screen and (min-width: $desk){
					display: block;
				}
			}
			li.right{
				@media screen and (min-width: $tab){
					float: right;
				}
			}
		}
	}			
}



.carousel{
	position: relative;
	>img{
		position: absolute;
		bottom: -2px;
		width: 104%;
		left: -2%;
		z-index: 15;
	}
}

.owl-carousel{
	overflow: hidden;
}

.owl-carousel{
}

.owl-nav{
	width: 100%;
	overflow-x:hidden;
	div{
		position: absolute;
		top: 50%;
		width: 100px;
		height: 90px;
		margin-top: -45px;
		display: block;
		text-indent: -9999px;
		@include transition();
	}
	.owl-prev{
		left: -50px;
		border-radius: 0 100px 100px 0;
		background: url(/themes/custom/anchor/images/arrow-l.svg) white no-repeat;
		background-position: 75% 50%;
		&:hover{
			left: -25px;
		}
	}
	.owl-next{
		right: -50px;
		border-radius: 100px 0 0 100px;
		background: url(/themes/custom/anchor/images/arrow-r.svg) white no-repeat;
		background-position: 25% 50%;
		&:hover{
			right: -25px;
		}
	}
}

.social{
	margin:0;
	padding: 0;
	@media screen and (min-width: $tab){
		top: 30%;
		position: absolute;
		right:20px;
		display: inline-block;		
	}
	li{
		display: inline-block;
		a{
			display: block;
			width: 34px;
			height: 34px;
			@include transition();
			border-radius: 1em;
			margin:2em 1em;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
			@media screen and (min-width: $tab){				
				width: 18px;
				height: 18px;
				box-shadow: none;
				margin: 0;
			}
			@media screen and (min-width: $desk){				
				width: 24px;
				height: 24px;

			}
		}
		a:hover{
			opacity: 0.75;
		}
	}
	.facebook{
		a{
			background: url(/themes/custom/anchor/images/icon-facebook.svg) no-repeat;
			background-size: 100%;
		}
	}
	.twitter{
		a{
			background: url(/themes/custom/anchor/images/icon-twitter.svg) no-repeat;
			background-size: 100%;
		}
	}
	.youtube{
		a{
			background: url(/themes/custom/anchor/images/icon-youtube.svg) no-repeat;
			background-size: 100%;
		}
	}
}

.main{
	@include clearfix();
	@media screen and (min-width: $tab){
		background: url(/themes/custom/anchor/images/main-bg-no-curve.jpg) #648D3E no-repeat;
		background-size: 100% auto;
	}
}

.with-background{
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    position:relative;
        overflow: hidden;
	@media screen and (min-width: $desk){
		padding-bottom: 3em;
		overflow: hidden;
	}
    > p{
    	@include font-size(26px);
    	width: 90%;
    	margin: 0 auto;

	@media screen and (min-width: $tab){	
		width: 70%;
	}
    }
    .intro{
	display: inline-block;
	padding: 2em;
	z-index: 100;
	position: relative;
	background: $cream;
	@media screen and (min-width: $tab){
		display: block;background: none;
	}
	@media screen and (max-width: $tab){
		
    	}
	p{
		font-family: "gblk";
		@include font-size(20px);
		max-width: 700px;
		margin: 0 auto;
	    	@media screen and (max-width: 640px){	
			margin: 1em 5%;
		}
		
	}
	h1{
		margin:0 0 0.2em 0;
	}

    }
}


.triptych{
	padding: 2em 5%;
	@include clearfix();
	@media screen and (min-width: $tab){	
		display: flex;
		flex-direction: row;
		padding: 0;
		width: 90%;
		max-width: 1200px;
		margin: 5% auto 3em auto;
	}
	@media screen and (max-width: $tab){
		background: $green;
	}
	@media screen and (min-width: $desk){
		margin: 10% auto 2em auto;
	}
	> div{
		background: white;
		border-radius: 6px;
		position: relative;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.23);
		text-align: center;
		padding: 1em 0 2em 0; 
		margin-bottom: 3em;
		/*POSS IE FLOAT FIX */
		// float:left;
		@media screen and (min-width: $tab){
			flex-grow: 1;
			width: 30.5%;
			margin: 0 1%;
			float:left;
		}
		img{
			display: inline-block;
			width: 100%;
			height: auto;
			max-width: 280px;
		}
		.trip-title{
			width: 70%;
			margin: 0 auto;
		}
		.trip-image{
			width: 60%;
			margin: 0 auto;
			img{
				max-width: 250px;
			}
		}
	}
	.button{
		bottom: -22px;
		position: absolute;
		left: 50%;
		margin-left: -35%;
		padding: 0.8em 0;
		width: 70%;
		@media screen and (min-width: $tab){
			left: 45%;
			margin-left: -40%;
			padding: 0.8em 0;
			width: 90%;

		}
		@media screen and (min-width: $desk){
			left: 50%;
			margin-left: -35%;
			padding: 0.8em 0;
			width: 70%;
		}
	}
}

.home-hub{
	position: relative;
	box-shadow: 0 10px 12px 0 rgba(193,193,193,0.50);
	padding-bottom: 2em;
	margin-bottom: 2em;
	padding-left: 5%;
	padding-right: 5%;
	text-align:center;
	padding: 1em 5%;
	background: #648D3E;
	box-shadow: none;
	padding-bottom: 4em;
	@media screen and (min-width: $desk){
		padding-bottom: 6em;
	}
	img.white-top{
		display: block;
		position: absolute;
		left: 0;
		bottom:100%;
		width: 100%;
		@media screen and (min-width: $desk){
			display: none
		}
	}
	.good-stuff, 
	.good-stuff-red{
		display: none;
		@media screen and (min-width: $tab){
			display: block;
	    	position: absolute;
    		left: 3.5%;
    		width: 13%;
    		max-width: 168px;
		}
	}
	.good-stuff{
		display: none;
		@media screen and (min-width: $tab){
			display: block;
		}
	}
	// .good-stuff-red{
	// 	display: none;
	// 	@media screen and (min-width: $tab){
	// 		display: block;
	// 	}
	// 	@media screen and (min-width: $desk){
	// 		display: none;
	// 	}
	// }
	.content{
		text-align: center;
		background: white;
		margin: 0 auto;
		padding: 1em;
		border-radius: 6px;
		@media screen and (min-width: $tab){
			width: 60%;
			padding: 1em;			
		}
		@media screen and (min-width: $desk){
			text-align: center;
		}

	}
	.sign{
		@media screen and (min-width: $tab){
		position: absolute;
 	    	right: 1%;
    		bottom: 0;
    		width: 20%;
    		max-width: 214px;			
		}	
		@media screen and (min-width: $desk){
			bottom: 4%;
		}		
    	span{
    		display:block;
		background: $red;
		color: white;
		display: inline-block;
		width: auto;
		border-radius: 3em;
		padding: 0.8em 1em;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(0,0,0,0.28);
		margin:2em 0 0 0;
		@include font-size(15px);
		@media screen and (min-width: $tab){
			display: none;
    		}
    	}
    	img{
    		display: none;
			@media screen and (min-width: $tab){
				display: block;
				width: 100%;
			}
    		}
	}
}
.timer{
	p{
		margin-bottom: 0;
		@include font-size(20px);
		font-family: "gblk";
		color: $black;
		span{
			color: $red;
		}
	}
}
.tv{
	text-align: center;
	margin-bottom: 5em;
	iframe{
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		padding: 7px;
		background:white;
		width: 90%;
		max-width: 639px;
	}
}



.sub-header{
	position: relative;
	>img{
		position: absolute;
		bottom: -1px;
		width: 120%;
		z-index: 15;
		left:-10%;
		@media (min-width:$tab){
			width: 102%;
			left: -1%;
		}
	}
}

.sub-header-inner{
	overflow: hidden;
	max-height:400px;
	h1{
		position: absolute;
		left: 50%;
		top:50%;
		transform: translate(-50%,-50%);
		@include font-size(34px);
		color: #FFFFFF;
		text-shadow: 1px 2px 3px #434343;
		text-align:center;

		@media (min-width:640px){
			@include font-size(46px);
		}
		@media (min-width:1024px){
			@include font-size(64px);

		}
	}
	img{
		width:100%;
	}
}
.content-wrap{
	max-width:980px;
	margin:0em 5% 2em 5%;
	@media (min-width:1024px){
		margin:0 auto 2em auto;
	}
	h2{
		@include font-size(30px);
		text-align:center;
		@media screen and (min-width: $tab){
			@include font-size(38px);
		}
		@media screen and (min-width: $desk){
			@include font-size(42px);
		}

	}
}
// PRODUCTS
.filter-nav{
	ul{
	border-bottom: 2px solid #E8E8E8;
	margin: 0 auto 2em auto;
	padding: 0;
	display: table;
	width: auto;
	text-align: center;
	@include clearfix();
	li{
		display:inline;
		text-decoration:none;
		margin: 1em 0em;
		background:none!important;
		a{
			color:#B9B9B9;	
			text-transform: uppercase;
			padding:1em 2em;
			margin: 0;
    			display: inline-block;
			&:hover, &.is-active{
				color:$red;
			}
		}
	}
	}
}
.products-wrap{
	@include clearfix();
	.product{
		text-align:center;
		margin:0 0 3em 0;
		border-bottom:solid 5px #E8E8E8;
		padding:0 0 1em 0;
		@media (min-width:640px){
			width:46%;
			margin:0 2% 2em 2%;
			padding:0 0 2em 0;
			float:left;
		}
		img{
			width:100%;
			margin:0 0 1em 0;
		}
	}
}
.left-container{
	.product{
		text-align:center;
		margin:0 0 2em 0;
		padding:0;
		border-bottom:none;
		img{
			width:100%;
		}
	}
}
.right-container{
	@media (min-width:768px){
		float:right;
		width:50%;
	}
	.product-details{
		margin:0 0 2em 0;
		border-bottom:4px #E8E8E8 solid;
		ul, > div{
			padding:0;
			margin:0 0 2em 0;
			li, div{
				font-family: 'gbk';
				list-style-type: none;
				margin: 0 0 0.5em 0;

			}
		}
		> div{
			div{
				background: url(/themes/custom/anchor/images/dot.svg) no-repeat left 0.5em;
    			padding-left: 1em;
			}
		}
	}
	.product-details:last-child{
		border-bottom:none;
	}
}

// WIN
.win-intro{
	max-width:720px;
	margin:0 auto 0 auto;
	padding:0px!important;
	@media screen and (min-width: $tab){
		margin:0 auto 2em auto;
	}
	p{
		max-width: 720px!important;
	}
	.timer{
		margin:1em 0 0 0;
	}
}
.form-outer{
	padding: 2em 5%;
	@media screen and (min-width: $tab){
		padding: 0;
		width: 90%;
		margin: 1em auto 5em auto;
	}
	@media screen and (max-width: $tab){
		background: $green;
	}
}
.form-wrap{
	background:#fff;
	max-width:675px;
	margin:0 auto;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
	border-radius: 6px;
	padding:2em;
	text-align:left;
	z-index: 100;
    	position: relative;
	@media (min-width:1024px){
		margin:0 auto;	
	}
}
form{
	.label-wrap{
		margin:0 0 1em 0;
		label{
			display:block;
			text-transform: uppercase;
			@include font-size(16px);
			margin:0 0 0.4em 0;
		}
		label.terms{
			@include font-size(14px);
			font-family: 'gbk';
			text-transform: none;
			display:inline;
		}
		.terms-check{
			width: auto;
			padding: 0;
			display: inline;
		}
		input{
			display:block;
			width:92%;
			padding: 3% 4%;
			border: solid 1px #A1A1A1;
			@include font-size(18px);
		}
		@media (min-width:648px){
			width:48%;
			float:left;
			margin:0 2% 1em 0;
		}
	}
	.label-wrap:nth-child(2),
	.label-wrap:nth-child(4){
		@media (min-width:648px){
			width:48%;
			float:right;
			margin:0 0 1em 2%;
		}
	}
	.label-wrap.loyalty-code{
		@media (min-width:648px){
			display: block;
			margin: 1em auto 1.4em auto;
			float: none;
			text-align: center;
		}
	}
	.label-wrap.terms-wrap{
		margin:0.5em 0;
	}
	input.button{
		border:none;
		width:100%;
		-webkit-appearance: none;
		@media (min-width:648px){
			width: 250px;
		    margin: 1.5em auto 0 auto;
		    text-align: center;
		    display: block;
		}
	}
	textarea:focus, input:focus{
	    outline: none;
	    background:#F8DA6C;
	    border: solid 1px #F8DA6C;
	}
}


// FAQs


.accordion{
    margin: 0 auto 6em auto;
    width: 90%;
    z-index: 5;
    position: relative;
    @media (min-width: $tab){
        width: 70%;
    }
    @media (min-width: $desk){
        width:50em;
    }
}
hr{
	border: none;
	height: 1px;
	/* Set the hr color */
	color: #D8D8D8; /* old IE */
	background-color: #D8D8D8; /* Modern Browsers */
}
.accord-header{
    cursor: pointer;
    position: relative;
    @include font-size(20px);
    padding: 0.75em 70px 0.75em 1em;
    transition: all 0.3s ease;
    margin-top: 1em;
    background: $red;
    border-radius: 5px;
    color: white;
    span{
        display:block;
        position: absolute;
        height: 100%;
        width: 50px;
        top: 0;
        right: 0;
        &:after{
            content:'';
            display: block;
            width: 18px;
            height: 15px;
            transition: all 0.5s ease;
            background-image:url(/themes/custom/anchor/images/icon-accordion-arrow.svg);
            background-repeat: no-repeat;
            left: 50%;
            position: absolute;
            margin-left: -9px;
            top: 50%;
            margin-top: -7px;
        }
    }
    &:hover{
        background-color:$dark-red;
    }
    &.active{
        background-color:$dark-red;
        span{
            &:after{
                transform: rotate(180deg);
            }
        }
    }
}

.accord-content{
    display: none;
    position: relative;
    background: white;
    padding: 2em 3.5em 0 2.5em;
    &:after{
        content:'';
        clear: both;
    }
    p{
        display: inline-block;
        clear:both;
    }
}

// News article

.date{
    text-transform: uppercase;
    padding: 1em 2em;
    border-bottom: 2px solid #E8E8E8;
    margin: 0 auto 2em auto;
    display: table;
    width: auto;
    text-align: center;
}

.news-article{
	text-align: center;
    margin: 0 auto 6em auto;
    img{
    	width: 100%;
    	height: auto;
    	max-width: 780px;
    }
	article{
		text-align: left;
		width: 90%;
		margin: 2em auto;
		@media screen and (min-width: $tab){
			width: 70%;
		}
	}
}

.news{
	margin-top: 3em;
}
.news-teaser{
	text-align: center;
	.news-teaser-in{
		width: 95%;
		margin: 0 auto;
		border-bottom: solid 5px #E8E8E8;
		padding-bottom: 1em;
		margin-bottom: 2em;
	}
	img{
		margin-bottom: 1em;
		width: 100%;
		height: auto;
		max-width: 300px;
	}
}

.three-masonry, .three-masonry-sizer{
    width: 100%;
    @media (min-width: 480px ){
        width: 50%;
    }
    @media (min-width: 960px ){
        width: 33.33%;
    }
}

.content-wrap{
	p{
		margin-bottom:1.5em;
	}
	ul{
		list-style:none;
		padding: 0;
		li{
			background:url(/themes/custom/anchor/images/dot.svg) no-repeat left 0.5em;
			padding-left: 1em;
		}
	}
}

// Our story

.story-block{
	margin-bottom: 2em;
	@media (min-width: $tab ){
		display: flex;
		float:left;
		@include clearfix();
		background:#ffffff;
		border-radius:5px;
	}
	img{
		width: 100%;
		height: auto;
		border-radius: 5px 5px 0 0;
		@media (min-width: $tab ){
			width: 48%;
			float:left;
			flex-grow: 1;
			flex-basis: auto;
			border-radius: 5px 0 0 5px;
		}
	}
	.block-content{
		background: white;
		padding: 1em 1em 0.5em 1em;
		text-align: left;
		height: auto;
		display: block;
    	@media (min-width: $tab ){
			width: 41%;
			float:right;
			padding: 2em 2em 1em 2em;
			border-radius: 0 5px 5px 0;
			flex-grow: 1;
			flex-basis: auto;			
    	}
    	@media (min-width: $tab-wide ){
			padding: 3.5em 2.5em 1em 2.5em;
    	}
		h2{
			color: $red;
			text-align: left;
		}
	}
	&:nth-child(2){
		flex-direction: row-reverse;
		img{
			border-radius: 0 5px 5px 0;
		}
		.block-content{
			border-radius: 5px 0 0 5px;
		}
	}
}

// Footer

footer{
	background:$dark-red;
	@include font-size(14px);
		position: relative;
	.footer-top{
		position: absolute;
		bottom:100%;
		width: 100%;
	}
	.social{
		top: 0;
		right: 0;
	}
	.footer-in{
		padding: 0 3em;
		position: relative;
		text-align: center;
		@media screen and (min-width: $tab){
			text-align: left;			
		}
		img{
			@media screen and (min-width: $tab){
				margin-right: 3em;
			}
		}
	}
	.footer-good-stuff{
		display: inline-block;
	}
	.footer-content{
		color: white;
		display: inline-block;
		vertical-align: top;
		margin-top: 1em;
		margin-left: 0;
		position: relative;
		p{
			margin-bottom: 1.5em;
			color: white;
		}
	}
	ul.footer-nav{
		padding: 0;
		margin-bottom: 0;
		li{
			display: inline-block;
			padding-right: 1em;
			margin-right: 1em;
			margin-bottom: 1em;
			border-right: solid 1px white;
			a{
				color: white;
				font-family: "gbk";
			}
		}
		.last{
			border-right: none;
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.codes-fixed{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index: 150;
	span{
		content:'';
		display: block;
		width: 34px;
		height: 34px;
		background:url(/themes/custom/anchor/images/icon-x.svg) no-repeat;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -7px;
		cursor: pointer;
	}
	a{
		width:70%;
		display: block;
		text-align: center;
		background: #77BC1F;
		padding: 0.5em 0;
		padding-left: 10%;
		padding-right: 20%;
		color: white;
		@include font-size(16px);
		text-transform: uppercase;
		text-decoration: underline;
		@include transition();
	    	@media (min-width: $tab ){
				@include font-size(22px);
	    	}
		&:hover{
			background: #5e8e21;
		}
	}
}

/* CLOUDS */

#clouds{
	display:none;
	@media (min-width: 640px ){
		display:block;
		position:absolute;
		top:120px;
	}

}
.cloud {
	
	position: relative; 
}

.basic-wrap{
	margin-bottom: 7em;
	margin-top: 2em;
	@media (min-width:$tab){

	}
	ul{
		li{
  			font-family: 'gbk';
		}
	}
}

strong{
  font-family: 'gblk';
}

.user-login-form{
	display: block;
	padding: 3em;
	text-align: center;
	float:none;
	label{
		display:block;
		text-transform: uppercase;
		@include font-size(16px);
		margin:0 0 0.4em 0;
	}
	input{
		display:block;
		width:92%;
		padding: 0.5em 1em;
		border: solid 1px #A1A1A1;
		@include font-size(18px);
	}
	@media (min-width:648px){
		width:48%;
	}
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 450px; 
	top: -110px;
	
	-webkit-animation: moveclouds 40s linear infinite;
	-moz-animation: moveclouds 40s linear infinite;
	-o-animation: moveclouds 40s linear infinite;
	background:url(/themes/custom/anchor/images/cloud1.png) no-repeat;
	height:50px;
	width:91px;
}

.x3 {
	left: 250px; 
	top: -100px;
	@media (min-width: $tab ){
		top: -150px;
	}
	@media (min-width: $desk ){
		top: -100px;
	}
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
	background:url(/themes/custom/anchor/images/cloud1.png) no-repeat;
	height:50px;
	width:91px;
}

.x4 {
	left: 0px; 
	top: -100px;

	@media (min-width: $tab ){
		top: -150px;
	}
	@media (min-width: $desk ){
		top: -100px;
	}
	
	-webkit-animation: moveclouds 28s linear infinite;
	-moz-animation: moveclouds 28s linear infinite;
	-o-animation: moveclouds 28s linear infinite;

	background:url(/themes/custom/anchor/images/cloud2.png) no-repeat;
	height:66px;
	width:119px;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1400px;}
	100% {margin-left: -1400px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1400px;}
	100% {margin-left: -1400px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1400px;}
	100% {margin-left: -1400px;}
}

dd{
	margin-left: 0;
}
