// Colours

$red: #D12A2E;
$dark-red: #B3272D;
$black: #545454;

// Font size

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
/* usage:@include font-size(2); */

// Mixins

@mixin transition(){
    transition: all ease 0.2s;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
    clear: both;
    }
}

@font-face {
  font-family: 'gbk';
  src:  url('../asset/font1.woff') format('woff');
}

@font-face {
  font-family: 'gblk';
  src:  url('../asset/font2.woff') format('woff');
}

// Core css

html{
	margin: 0;
}

body{
	position: relative;
	width: 100%;
	margin: auto;
	//max-width: 1400px;
  	font-family: 'gblk';
  	@include font-size(18px);
}

h1{
	margin-top: 0;
	@include font-size(49px);
	color: $red;
	text-transform: uppercase;
}

h2{
	margin-top: 0;
	@include font-size(30px);
	color: $black;
	text-transform: uppercase;
}

h3{
	margin-top: 0;
	@include font-size(26px);
	text-transform: uppercase;
	color: $black;
}

p{
	margin-top:0;
	font-family: 'gbk';
}

a{
	text-decoration: none;
	color: $red;
}

.button{
	background: $red;
	color: white;
	display: inline-block;
	width: auto;
	border-radius: 3em;
	padding: 0.8em 2.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,0.28);
	@include font-size(16px);
	@include transition();
	&:hover{
		background: $dark-red;
	}
}

.white{
	background: white;
	position: relative;
	img{
		position: absolute;
		left: 0;
		bottom:100%;
		width: 100%;
	}
}

header{
	width: 100%;
	position: relative;
	text-align: center;
	.logo{
		position: absolute;
		left: 50%;
		margin-left: -80px;
		z-index: 11;
		top:35%;
	}
	.header-wrap{
		width: 100%;
		display: block;
		background: white;
	}
	.logo-bg{
		position: absolute;
    	left: 50%;
    	background: white;
    	border-radius: 100px;
    	width: 219px;
    	height: 200px;
    	top: -98%;
    	margin-left: -111px;
		z-index: 10;
	}
	nav{
		margin-right: 120px;
		@include clearfix();
		ul{
			margin: 0;
			padding: 0;
			li{
				display: block;
				float: left;
				a{
					padding: 1.9em 1.5em;					
					display: block;
					text-transform: uppercase;
  					@include font-size(15px);
  					@include transition();
				}
				a:hover{
					background:$red;
					color:white;
				}
			}
			li.right{
				float: right;
			}
		}
	}
}


.carousel{
	position: relative;
	>img{
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 15;
	}
}

.owl-carousel{
	overflow: hidden;
}

.owl-nav{
	width: 100%;
	overflow-x:hidden;
	div{
		position: absolute;
		top: 50%;
		width: 100px;
		height: 90px;
		margin-top: -45px;
		display: block;
		text-indent: -9999px;
		@include transition();
	}
	.owl-prev{
		left: -50px;
		border-radius: 0 100px 100px 0;
		background: url(../../images/arrow-l.svg) white no-repeat;
		background-position: 75% 50%;
		&:hover{
			left: -25px;
		}
	}
	.owl-next{
		right: -50px;
		border-radius: 100px 0 0 100px;
		background: url(../../images/arrow-r.svg) white no-repeat;
		background-position: 25% 50%;
		&:hover{
			right: -25px;
		}
	}
}

.social{
	margin:0;
	top: 30%;
	position: absolute;
	right:0;
	display: inline-block;
	li{
		display: inline-block;
		a{
			display: block;
			width: 24px;
			height: 24px;
			@include transition();
		}
		a:hover{
			opacity: 0.75;
		}
	}
	.facebook{
		a{
			background: url(../../images/icon-facebook.svg);
		}
	}
	.twitter{
		a{
			background: url(../../images/icon-twitter.svg);
		}
	}
	.youtube{
		a{
			background: url(../../images/icon-youtube.svg);
		}
	}
}

.main{
	background: url(../../images/main-bg-no-curve.jpg) #648D3E no-repeat;
	background-size: 100% auto;
	@include clearfix();
}

.home{
    width: 100%;
    text-align: center;
    padding-bottom: 5em;
    > p{
    	@include font-size(26px);
    	width: 70%;
    	margin: 0 auto;
    }
}

.triptych{
	display: flex;
	flex-direction: row;
	margin: 15% auto 5em auto;
	width: 95%;
	> div{
		flex-grow: 1;
		background: white;
		width: 30.5%;
		margin: 0 1%;
		border-radius: 6px;
		position: relative;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.23);
		text-align: center;
		padding-bottom: 2em;
	}
	.button{
		bottom: -22px;
		position: absolute;
		left: 50%;
		margin-left: -25%;
	}
}

.home-hub{
	position: relative;
	> img{
	    position: absolute;
    	left: 3.5%;
    	width: 13%;
    	max-width: 168px;
	}
	.content{
		text-align: center;
		background: white;
		width: 60%;
		margin: 0 auto;
		padding: 1em;
		border-radius: 6px;
		.timer{
			p{
				margin-bottom: 0;
				@include font-size(20px);
				font-family: "gblk";
				color: $black;
				span{
					color: $red;
				}
			}
		}
	}
	.sign{
		position: absolute;
 	    right: 6%;
    	bottom: -50%;
    	width: 15%;
    	max-width: 214px;
    	img{
    		width: 100%;
    	}
	}
}

.tv{
	text-align: center;
	margin-bottom: 5em;
	iframe{
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
		padding: 7px;
		background:white;
		width: 90%;
		max-width: 639px;
	}
}

footer{
	background:$dark-red;
	@include font-size(14px);
		position: relative;
	.footer-top{
		position: absolute;
		bottom:100%;
		width: 100%;
	}
	.social{
		right: 3em;
	}
	.footer-in{
		padding: 0 3em;
		position: relative;
	}
	.good-stuff{
		display: inline-block;
	}
	.footer-content{
		color: white;
		display: inline-block;
		vertical-align: top;
		margin-top: 1em;
		margin-left: 3em;
		p{
			margin-bottom: 1.5em;
		}
	}
	ul.footer-nav{
		padding: 0;
		margin-bottom: 0;
		li{
			display: inline-block;
			padding-right: 1em;
			margin-right: 1em;
			border-right: solid 1px white;
			a{
				color: white;
				font-family: "gbk";
			}
		}
		.last{
			border-right: none;
			margin-right: 0;
			padding-right: 0;
		}
	}
}

.codes-fixed{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	span{
		content:'';
		display: block;
		width: 14px;
		height: 14px;
		background:url(../../images/icon-x.svg) no-repeat;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -7px;
		cursor: pointer;
	}
	a{
		width:100%;
		display: block;
		text-align: center;
		background: #77BC1F;
		padding: 0.5em 0;
		color: white;
		@include font-size(22px);
		text-transform: uppercase;
		text-decoration: underline;
		@include transition();
		&:hover{
			background: #5e8e21;
		}
	}
}
