<a href="{{ view.field.field_carousel_mobile_image.original_value }}"><picture>
<source srcset="{{ view.field.field_carousel_mobile_image.original_value }}" media="(max-width: 640px)">
<img srcset="{{ view.field.field_carousel_main_image.original_value }}">
</picture>
</a>
